

.App {
  text-align: center;
}

.App-logo {
  display: flex;
  height: 40vmin;
  pointer-events: none;
  position: relative;
  left: 10px;
  top: 20px;
  height: 150px;
  width: 170px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #545b97;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(11, 11, 17)
}

.Here-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background: linear-gradient(-45deg, #ee7752, #9c365d, #31809c, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 90s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

